wheel
torch
transformers
datasets
evaluate
rouge_score
accelerate
sentence_transformers
bertopic
scikit-datasets
spacy
span_marker
langchain
chromadb
langchain-nomic
langchain_community
langchain-chroma
langchain_experimental
langchain_openai
hf_transfer
ollama